{% extends "base.html" %}
{% load static %}

{% block main %}

<main>
    <h1 class="titulo_animado">A little more about us</h1>
    <div class="imagen_resto">
        <img id="foto_resto" src="{% static './img/image/about_us/resto.jpg' %}" alt="Foto restaurant" />
    </div>
    <section class="texto_about_us">
        <div class="cuerpo_about_us">
            <p> Discover a Wholesome Culinary Experience in the Heart of Palermo, Buenos Aires.
                Welcome to Appetit, the gastronomic oasis that has revolutionized the culinary scene
                in Palermo! Situated in the vibrant heart of Buenos Aires, Appetit is a unique and
                charming restaurant led by a talented team of two chefs passionate about healthy and
                delicious cuisine.You'll meet Chef Santiago and Chef Valentina, a dynamic duo who have
                combined their talents to create an exceptional menu full of fresh and nutritious
                flavors. Chef Santiago, with years of experience in haute cuisine, brings his
                creativity and expertise in skillfully blending ingredients. Chef Valentina, on the
                other hand, is a lover of organic foods and has built a strong reputation for her
                focus on balanced and delightful dishes. <br>
                Appetit invites you to indulge in a culinary experience where health and taste meld
                exquisitely. Each dish on the menu has been carefully designed to provide you with an
                explosion of flavors while taking care of your well-being. From vibrant seasonal salads
                to options featuring lean proteins and tempting vegan choices, every bite is rich in
                nutrients and love. <br>
                Imagine delighting in a Mediterranean Salad, brimming with vibrant local vegetables and
                fresh olives, or immersing yourself in the flavors of a Quinoa and Avocado Bowl, where
                ingredients harmoniously combine. For aficionados of intense flavors, the Grilled Salmon
                with Fresh Herb Sauce is a must-try. <br>
                And to complete this experience, Appetit offers a selection of natural juices,
                energizing smoothies, and healthy dessert options that will delight your palate
                without compromising your well-being. <br>
                We invite you to be a part of this unique culinary adventure. Join us at Appetit,
                where the passion for healthy and delicious food blends with a cozy and sophisticated
                ambiance. Come and discover how food can be both an indulgence and an act of self-care!
                <br>
                <br>
                Location: Palermo, Buenos Aires. <br>
                Hours: Open every day of the week for breakfast, lunch, and dinner. <br>
                Reservations: Call us at +54 (011) 4535-1000 or make a reservation online at: www.Appetit.com <br>
                We look forward to seeing you soon at Appetit, where good health is served in every delicious bite!
            </p>
        </div>
    </section>
    <section class="iframe_maps">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.9425433107917!2d-58.434540023464265!3d-34.58032035626428!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb59052fa8ad3%3A0xf3e23058b59fcf6b!2sFitz%20Roy%202201%2C%20C1425FVC%20CABA!5e0!3m2!1ses!2sar!4v1693859963423!5m2!1ses!2sar"
            style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
</main>
{% endblock %}