{% extends "base.html" %}
{% load static %}

{% block main %}
<main>
    <section>
        <h1 class="titulo_animado">Banana protein cookies</h1>
        <div class="foto_receta">
            <img class="imagen_de_receta" src="{% static './img/image/dessert/banana_cookies_01.jpg' %}"
                alt="banana presentation" />
        </div>
        <div class="receta_primera_parte">
            <div class="cuerpo">
                <ul>
                    <li>Preparation: 5 minutes</li>
                    <li>Cooking: 15 minutes</li>
                </ul>

                <p>An afternoon cookie with a cup of coffee? Of course. This protein cookie contains 12 g of protein
                    thanks to almond flour.<br>
                    It is also rich in magnesium and potassium, which also makes it ideal for snacking before or after
                    training.</p>

                <p class="subtitulo">INGREDIENTS</p>

                <ul>
                    <li>1/4 of a very ripe banana</li>
                    <li>4 tablespoons of almond flour</li>
                    <li>1 teaspoon coconut oil or melted butter</li>
                    <li>cinnamon</li>
                    <li>1 teaspoon of honey (optional, if we have a very sweet tooth)</li>
                    <li>Chocolate chips or a couple of crushed nuts.</li>
                </ul>
            </div>
        </div>
        <div class="foto_receta">
            <img class="imagen_de_receta" src="{% static './img/image/dessert/banana_cookies_02.jpg' %}"
                alt="banana cookie process" />
        </div>
        <div class="receta_segunda_parte">
            <div class="cuerpo">
                <p class="subtitulo">DIRECTIONS </p>
                <ol>
                    <li>Preheat the oven to 200 degrees.</li>
                    <li>In a bowl, mash the banana with a fork. You can use the rest of the banana.</li>
                    <li>Freeze to make healthy ice cream.</li>
                    <li>Add the flour, oil, cinnamon, a pinch of salt and the sweetener if you are going to use it.</li>
                    <li>Form 2 small cookies and decorate with chocolate chips or nuts.</li>
                    <li>Bake 15 minutes or until golden.</li>
                </ol>

                <p class="subtitulo">NUTRITION INFORMATION</p>

                <p>Calories 250 calories | Total Fat 25 grams <br>
                    Fiber 25 grams | Protein 10 grams <br>
                    * Nutrition data is approximate and is for informational purposes only.</p>
            </div>
        </div>
        <div id="go-to">
            <a href="{% url 'dessert' %}">
                Go to dessert
            </a>
        </div>
    </section>
    <div>
        <h2>More recipes</h2>
    </div>
    <section class="contenedor_de_enlaces_01">
        <div class="enlace_a_receta">
            <a href="{% url 'flourless_bite_sized_breakfast_muffins' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/breakfast/muffins_chico.jpg' %}"
                    alt="muffins square image" />
                <p>Flourless bite-sized breakfast muffins</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'chickpea_salad' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/lunch/Receta_1.1_chico.png' %}"
                    alt="Chickpea Salad" />
                <p>Chickpea Salad</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'apple_flan' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/dessert/apple_flan_chico.jpg' %}"
                    alt="banana cookies square image" />
                <p>Apple flan</p>
            </a>
        </div>
    </section>
</main>
{% endblock %}