{% extends "base.html" %}
{% load static %}

{% block main %}

<main>
    <h1 class="titulo_animado">Breakfast</h1>
    <section class="contenedor_de_enlaces_01">
        <div class="enlace_a_receta">
            <a href="{% url 'chocolate_raspberry_dreams_breakfast_parfait' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/breakfast/chocolate_raspberry_chico.jpg' %}"
                    alt="chocolate raspberry square image" />
                <p>Chocolate raspberry dreams breakfast parfait</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'flourless_bite_sized_breakfast_muffins' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/breakfast/muffins_chico.jpg' %}"
                    alt="muffins square image" />
                <p>Flourless bite-sized breakfast muffins</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'high_protein_vegan_breakfast_burrito' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/breakfast/burrito_chico.jpg' %}"
                    alt="burrito square image" />
                <p>High protein vegan breakfast burrito</p>
            </a>
        </div>
    </section>
    <br>
    <section class="contenedor_de_enlaces_01">
        <div class="enlace_a_receta">
            <a href="{% url 'carrot_cake_breakfast_cookies' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/breakfast/carrot_chico.jpg' %}"
                    alt="carrot cookies square image" />
                <p>Carrot cake breakfast cookies</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'raw_chocolate_hazelnut_breakfast' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/breakfast/chocolate_hazelnut_chico.jpg' %}"
                    alt="chocolate hazelnut square image" />
                <p>Raw chocolate hazelnut breakfast parfait</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'sugar_free_apple_pie_chia_seed_jam' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/breakfast/applepiejam_chico.jpg' %}"
                    alt="apple pie jam square image" />
                <p>Sugar-free apple pie chia seed jam + parfait</p>
            </a>
        </div>
    </section>
    <div id="go-to">
        <a href="{% url 'recipes' %}"> Go to Recipes <a>
    </div>
    <div>
        <h2>More recipes</h2>
    </div>
    <section class="contenedor_de_enlaces_01">
        <div class="enlace_a_receta">
            <a href="{% url 'brownie_healty_and_fit' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/dessert/brownie_fit_02_chico.jpg' %}"
                    alt="brownie healty and fit square image" />
                <p>Brownie healty and fit</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'chickpea_salad' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/lunch/Receta_1.1_chico.png' %}"
                    alt="Chickpea Salad square image" />
                <p>Chickpea Salad</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'banana_protein_cookies' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/dessert/banana_cookies_03_chico.jpg' %}"
                    alt="banana cookies square image" />
                <p>Banana protein cookies</p>
            </a>
        </div>
    </section>
</main>
{% endblock %}