{% extends "base.html" %}
{% load static %}

{% block main %}
<main>
    <section class="cuerpo_receta">
        <h1 class="titulo_animado">Broccoli Soup</h1>
        <div class="foto_receta">
            <img class="imagen_de_receta" id="foto_receta_uno" src=" {% static './img/image/lunch/Receta 4.2.png' %}"
                alt="Broccoli Soup" />
        </div>
        <div class="receta_primera_parte">
            <div class="cuerpo">
                <ul>
                    <li>Yield: Serves 4</li>
                    <li>Prep time: 15 minutes</li>
                    <li>Cook time: 30 minutes</li>
                </ul>
                <p>Enjoy a warm and comforting bowl of homemade broccoli soup. This recipe serves 4 and is perfect for a
                    chilly evening. It's packed with the goodness of fresh broccoli and other flavorful ingredients.</p>
                <p class="subtitulo">INGREDIENTS</p>
                <ul>
                    <li>4 cups fresh broccoli florets</li>
                    <li>1 onion, chopped</li>
                    <li>2 cloves garlic, minced</li>
                    <li>2 tablespoons butter</li>
                    <li>4 cups vegetable broth</li>
                    <li>1 cup milk</li>
                    <li>Salt and pepper to taste</li>
                </ul>
            </div>
        </div>
        <div class="foto_receta">
            <img class="imagen_de_receta" id="foto_receta_cuatro" src=" {% static './img/image/lunch/Receta 4.3.png' %}"
                alt="Broccoli Soup Ingredients" />
        </div>
        <div class="receta_segunda_parte">
            <div class="cuerpo">
                <p class="subtitulo">DIRECTIONS</p>
                <ol>
                    <li>In a large pot, melt the butter over medium heat. Add the chopped onion and garlic. Sauté until
                        the onion is translucent.</li>
                    <li>Add the fresh broccoli florets to the pot and sauté for another 5 minutes.</li>
                    <li>Pour in the vegetable broth and bring the mixture to a boil. Reduce the heat, cover, and simmer
                        for 20 minutes or until the broccoli is tender.</li>
                    <li>Use an immersion blender to puree the soup until smooth. Alternatively, you can transfer the
                        soup to a blender in batches, but be sure to let it cool slightly first.</li>
                    <li>Return the pureed soup to the pot. Stir in the milk and heat the soup over low heat until it's
                        hot but not boiling. Season with salt and pepper to taste.</li>
                    <li>Serve hot and enjoy your homemade broccoli soup!</li>
                </ol>
                <p class="subtitulo">TIP:</p>
                <p>Garnish with a sprinkle of grated cheddar cheese or a dollop of sour cream for extra flavor.</p>

                <p class="subtitulo">NUTRITION INFORMATION</p>
                <p>Serving Size 1/4 of recipe | Calories 180 calories | Total Fat 9 grams <br>
                    Saturated Fat 5 grams | Sodium 800 milligrams | Total Carbohydrates 22 grams <br>
                    Fiber 5 grams | Sugar 8 grams | Protein 6 grams <br>
                    * Nutrition data is approximate and is for informational purposes only.</p>
            </div>
        </div>
        <div id="go-to">
            <a href=" {% url 'recipes' %}">
                Go to recipes
            </a>
        </div>
    </section>
    <div>
        <h2>More recipes</h2>
    </div>
    <section class="contenedor_de_enlaces_01">
        <div class="enlace_a_receta">
            <a href=" {% url 'flourless_bite_sized_breakfast_muffins' %}">
                <img class="imagen_del_enlace" src=" {% static './img/image/breakfast/muffins_chico.jpg' %}"
                    alt="muffins square image" />
                <p>Flourless bite-sized breakfast muffins</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href=" {% url 'chickpea_salad' %}">
                <img class="imagen_del_enlace" src=" {% static './img/image/lunch/Receta_1.1_chico.png' %}"
                    alt="Chickpea Salad square image" />
                <p>Chickpea Salad</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href=" {% url 'banana_protein_cookies' %}">
                <img class="imagen_del_enlace" src=" {% static './img/image/dessert/banana_cookies_03_chico.jpg' %}"
                    alt="banana cookies square image" />
                <p>Banana protein cookies</p>
            </a>
        </div>
    </section>
</main>
{% endblock %}