{% extends "base.html" %}
{% load static %}

{% block main %}
<main>
    <section>
        <h1 class="titulo_animado">Brownie healty and fit</h1>
        <div class="foto_receta">
            <img class="imagen_de_receta" src="{% static './img/image/dessert/brownie_fit_01.jpg' %}"
                alt="brownie presentation" />
        </div>
        <div class="receta_primera_parte">
            <div class="cuerpo">
                <ul>
                    <li>Yield: serves 6</li>
                    <li>Prep time: 30 minutes</li>
                    <li>Cook time: 20 minutes</li>
                </ul>

                <p>Today's fit and healthy brownie will make you salivate, it will make you dream, it will make you run
                    to the
                    Cook to see if you have the ingredients... because you're going to want to prepare it now!</p>

                <p class="subtitulo">INGREDIENTS</p>

                <ul>
                    <li>10' prep 15' cooking</li>
                    <li>6/8 servings</li>
                    <li>2 bananas</li>
                    <li>1 egg</li>
                    <li>2 🥄 cocoa powder without sugar</li>
                    <li>3 🥄peanut paste without sugar</li>
                    <li>w/n vanilla essence</li>
                    <li>1 🥄 white chocolate chips</li>
                    <li>1 🥄 dark chocolate chips</li>
                    <li>1 🥄 walnuts or almonds.</li>
                </ul>
            </div>
        </div>
        <div class="foto_receta">
            <img class="imagen_de_receta" src="{% static './img/image/dessert/brownie_fit_03.jpg' %}"
                alt="brownie fit" />
        </div>
        <div class="receta_segunda_parte">
            <div class="cuerpo">
                <p class="subtitulo">DIRECTIONS </p>
                <ol>
                    <li>Mash the bananas, put them in a bowl and add the egg and vanilla essence.</li>
                    <li>Mix well and add the cocoa, peanut paste. Finally, add the chips and Almond nuts.</li>
                    <li>Integrate everything very well.</li>
                    <li>Pour into an oven-safe mold and cook for 15 minutes at 180 degrees.</li>
                    <li>Remove, let cool well before unmolding</li>
                    <li>Note: the 🥄 I used are for dessert</li>
                </ol>

                <p class="subtitulo">NUTRITION INFORMATION</p>

                <p>Calories 396 calories | Total Fat 30 grams <br>
                    Fiber 20 grams | Protein 15 grams <br>
                    * Nutrition data is approximate and is for informational purposes only.</p>
            </div>
        </div>
        <div id="go-to">
            <a href="{% url 'dessert' %}">
                Go to dessert
            </a>
        </div>
    </section>
    <div>
        <h2>More recipes</h2>
    </div>
    <section class="contenedor_de_enlaces_01">
        <div class="enlace_a_receta">
            <a href="{% url './Flourless_bite_sized_breakfast_muffins' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/breakfast/muffins_chico.jpg' %}"
                    alt="muffins square image" />
                <p>Flourless bite-sized breakfast muffins</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url './chickpea_salad' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/lunch/Receta_1.1_chico.png' %}"
                    alt="Chickpea Salad" />
                <p>Chickpea Salad</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url './Apple_flan' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/dessert/apple_flan_chico.jpg' %}"
                    alt="banana cookies square image" />
                <p>Apple flan</p>
            </a>
        </div>
    </section>
</main>
{% endblock %}