{% extends "base.html" %}
{% load static %}

{% block main %}
<main>
    <h1 class="titulo_animado">Chefs</h1>
    <h2>Chef Valentina</h2>
    <div class="imagen_chefs">
        <img class="foto_chef" src="{% static './img/image/chefs/valentina.jpg' %}" alt="Foto chef Valentina" />
    </div>
    <section class="texto_chefs">
        <div class="cuerpo_chefs">
            <p>Meet Chef Valentina, a culinary virtuoso with an unwavering dedication to crafting
                dishes that embrace the essence of health and taste. Her culinary journey began as
                a quest to redefine traditional flavors into nourishing creations that delight the
                palate and uplift the spirit. <br>
                Drawing inspiration from her deep connection to organic ingredients, Chef Valentina's
                experience includes working alongside world-class chefs who share her commitment to
                responsible sourcing and sustainable practices. Her background in nutrition and culinary
                arts intertwines seamlessly, allowing her to curate menus that are both indulgent and
                health-conscious.From vibrant vegan delights to meticulously balanced protein-rich dishes,
                Chef Valentina's creations resonate with her belief that food is a celebration of life.
                Her mastery lies not only in her exquisite pairings but also in her ability to infuse each
                plate with a genuine passion for wellness. <br>
                As a co-founder of "Appetit", Chef Valentina invites you to partake in a culinary voyage
                where flavors come alive, and nourishment takes center stage. Her culinary philosophy
                resonates throughout the menu, offering an array of choices that honor the harmony between
                health and gastronomy. Discover the extraordinary touch of Chef Valentina's culinary artistry at
                "Appetit".
                Join us to relish in a symphony of flavors that embody the heart and soul of wholesome dining.</p>
        </div>
    </section>
    <div>
        <h3>Recipes of the Chef</h3>
    </div>
    <section class="contenedor_de_enlaces_01">
        <div class="enlace_a_receta">
            <a href="{% url 'chickpea_salad' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/lunch/Receta_1.1_chico.png' %}"
                    alt="Chickpea Saladsquare image" />
                <p>Chickpea Salad</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'vegetable_and_egg_tart' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/lunch/Receta_2.1_chico.png' %}"
                    alt="Vegetable and Egg Tart square image" />
                <p>Vegetable and Egg Tart</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'chicken_chaufa' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/lunch/Receta_3.1_chico.png' %}"
                    alt="Chicken Chaufa square image" />
                <p>Chicken Chaufa</p>
            </a>
        </div>
    </section>
    <h2>Chef Santiago</h2>
    <div class="imagen_chefs">
        <img class="foto_chef" src="{% static './img/image/chefs/santiago.jpg' %}" alt="Foto chef Santiago" />
    </div>
    <section class="texto_chefs">
        <div class="cuerpo_chefs">
            <p>With a passion for the culinary arts that spans over two decades,
                Chef Santiago is a seasoned professional renowned for his innovative
                and flavorful creations. His journey began in prestigious kitchens
                across Europe, where he honed his skills under the guidance of renowned chefs,
                blending traditional techniques with modern gastronomy. <br>
                Having crafted delectable dishes in Michelin-starred restaurants,
                Chef Santiago's expertise is a fusion of artistry and precision.
                His commitment to using locally-sourced, seasonal ingredients results
                in dishes that celebrate both taste and health. From his signature
                Mediterranean-inspired salads to exquisitely grilled entrées, each plate
                showcases his dedication to crafting balanced, vibrant cuisine. <br>
                Chef Santiago's culinary prowess is not confined to the kitchen; his
                leadership has guided teams to deliver exceptional dining experiences.
                His unwavering dedication to quality and creativity has earned him a
                reputation as a trailblazer in the world of healthy gastronomy. <br>
                Now, as a co-founder of "Appetit" Chef Santiago invites you to embark
                on a journey of flavors that ignite the senses and nourish the soul.
                With a focus on delivering both exquisite taste and nutritional value,
                his dishes reflect a deep-rooted passion for culinary excellence that's
                evident in every bite. Join us at "Appetit" and savor the distinctive
                touch of Chef Santiago's culinary brilliance.</p>
        </div>
    </section>
    <div>
        <h3>Recipes of the Chef</h3>
    </div>
    <section class="contenedor_de_enlaces_01">
        <div class="enlace_a_receta">
            <a href="{% url 'chocolate_raspberry_dreams_breakfast_parfait' %}"> <img class="imagen_del_enlace"
                    src="{% static './img/image/breakfast/chocolate_raspberry_chico.jpg' %}"
                    alt="chocolate raspberry square image" />
                <p>Chocolate raspberry dreams breakfast parfait</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'flourless_bite_sized_breakfast_muffins' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/breakfast/muffins_chico.jpg' %}"
                    alt="muffins square image" />
                <p>Flourless bite-sized breakfast muffins</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'high_protein_vegan_breakfast_burrito' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/breakfast/burrito_chico.jpg' %}"
                    alt="burrito square image" />
                <p>High protein vegan breakfast burrito</p>
            </a>
        </div>
    </section>
</main>
{% endblock %}