<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chicken Chaufa Recipe</title>

        <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
        <link rel="icon" type="image/x-icon" href="../media/icons/appetit.ico">

        <meta property="og:title" content="Appetit"/>
        <meta property="og:type" content="article"/>
        <meta property="og:url" content="https://www.Appetit.com/"/>
        <meta property="og:image" content="../assets/media/image/a_logo_Appetit.png"/>
        <meta property="og:description" content="Appetit - Chicken Chaufa Recipe"/>
        
        <script src="https://kit.fontawesome.com/a6d1c73a06.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="header">
            <div class="logo">
                <a href="../index.html">
                    <img src="../media/image/a_logo_Appetit.png" alt="Logo Appetit">
                </a>
            </div>
            <nav class="menu">
                <ul class="nav-links">
                    <li><a href="./recipes.html">Recipes</a></li>
                    <li><a href="./chefs.html">Chefs</a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./about_us.html">About us</a></li>
                    <li><a class="btn" href="./contact.html"><button>Contact</button></a></li>
                </ul>
            </nav>
            <a class="btn btn_menu" id="btn_menu">
                <i class="fa-solid fa-bars"></i>
            </a>
            <div class="lista_menu oculto" id="lista_menu">
                <ul>
                    <li><a href="./recipes.html">Recipes</a></li>
                    <li><a href="./chefs.html">Chefs</a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./about_us.html">About us</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                </ul>
            </div>
        </header>
        <main>
            <section class="cuerpo_receta">
                <h1 class="titulo_animado">Chicken Chaufa</h1>
                <div class="foto_receta">
                    <img class="imagen_de_receta" id="foto_receta_" src="../media/image/lunch/Receta 3.2.png" alt="Chicken Chaufa"/>
                </div>
                <div class="receta_primera_parte">
                    <div class="cuerpo">
                        <ul>
                            <li>Yield: Serves 4</li>
                            <li>Prep time: 30 minutes</li>
                            <li>Cook time: 30 minutes</li>
                        </ul>
                        <p>Chicken Chaufa is a popular Peruvian-Chinese fried rice dish that's quick and easy to make. It's packed with flavor and can be customized with your favorite ingredients. This recipe serves 4 people and is perfect for a delicious weeknight dinner.</p>
                        <p class="subtitulo">INGREDIENTS</p>
                        <ul>
                            <li>2 cups cooked white rice, cold</li>
                            <li>2 chicken breasts, diced</li>
                            <li>2 tablespoons vegetable oil</li>
                            <li>1/2 cup red bell pepper, diced</li>
                            <li>1/2 cup green bell pepper, diced</li>
                            <li>1/2 cup frozen peas and carrots mix</li>
                            <li>3 cloves garlic, minced</li>
                            <li>2 eggs, beaten</li>
                            <li>2 tablespoons soy sauce</li>
                            <li>1 tablespoon oyster sauce</li>
                            <li>1 teaspoon sesame oil</li>
                            <li>Salt and pepper to taste</li>
                        </ul>
                    </div>
                </div>
                <div class="foto_receta">
                    <img class="imagen_de_receta" id="foto_receta_dos" src="../media/image/lunch/Receta 3.3.png" alt="Chicken Chaufa Ingredients"/>
                </div>
                <div class="receta_segunda_parte">
                    <div class="cuerpo">
                        <p class="subtitulo">DIRECTIONS</p>
                        <ol>
                            <li>In a large wok or skillet, heat 1 tablespoon of vegetable oil over medium-high heat. Add the diced chicken and cook until it's browned and cooked through. Remove the chicken from the wok and set it aside.</li>
                            <li>Heat the remaining 1 tablespoon of vegetable oil in the wok. Add the minced garlic, red bell pepper, green bell pepper, and frozen peas and carrots mix. Stir-fry for 3-4 minutes or until the vegetables are tender.</li>
                            <li>Push the vegetables to one side of the wok and pour the beaten eggs into the other side. Scramble the eggs until they are cooked through.</li>
                            <li>Add the cold, cooked rice to the wok and stir-fry for about 5 minutes, breaking up any clumps.</li>
                            <li>Return the cooked chicken to the wok and stir to combine.</li>
                            <li>Drizzle the soy sauce, oyster sauce, and sesame oil over the rice mixture. Stir-fry for an additional 2-3 minutes or until everything is well combined and heated through.</li>
                            <li>Season with salt and pepper to taste. Serve hot and enjoy your homemade Chicken Chaufa!</li>
                        </ol>
                        <p class="subtitulo">TIP:</p>
                        <p>Feel free to add your favorite vegetables or protein to customize this dish to your liking.</p>

                        <p class="subtitulo">NUTRITION INFORMATION</p>
                        <p>Serving Size 1/4 of recipe | Calories 400 calories | Total Fat 12 grams <br>
                            Saturated Fat 2 grams | Sodium 700 milligrams | Total Carbohydrates 48 grams <br>
                            Fiber 3 grams | Sugar 3 grams | Protein 25 grams <br>
                            * Nutrition data is approximate and is for informational purposes only.</p>
                    </div>
                </div>
                <div id="go-to">
                    <a href="recipes.html">Go to recipes</a>
                </div>
            </section>
            <div>
                <h2>More recipes</h2>
            </div>
            <section class="contenedor_de_enlaces_01">                 
                <div class="enlace_a_receta">
                    <a href="./Flourless_bite_sized_breakfast_muffins.html"> <img class="imagen_del_enlace" src="../media/image/breakfast/muffins_chico.jpg" alt="muffins square image"/> <p>Flourless bite-sized breakfast muffins</p> </a>
                </div>
                <div class="enlace_a_receta">
                    <a href="./Broccoli_soup.html"> <img class="imagen_del_enlace" src="../media/image/lunch/Receta_4.1_chico.png" alt="Broccoli soup square image"/> <p>Broccoli soup</p> </a>
                </div>
                <div class="enlace_a_receta">
                    <a href="./banana_protein_cookies.html"> <img class="imagen_del_enlace" src="../media/image/dessert/banana_cookies_03_chico.jpg" alt="banana cookies square image"/> <p>Banana protein cookies</p></a>
                </div>
            </section>
        </main>
        <br>
        <footer class="footer-distributed">
    
            <div class="footer-left">
                <a href="../index.html">
                <img id="logo" src="../media/image/a_logo_Appetit.png" alt="Logo Appetit" height="76px" width="250"/></a>  <!-- Al hacer click en el logo se redirige al home -->
    
                <p class="footer-links">
                    <a href="../index.html" target="_blank">Home</a>
                    |
                    <a href="../pages/about_us.html" target="_blank">About us</a>
                    |
                    <a href="../pages/contact.html" target="_blank">Contact</a>
                    |
                    <a href="../pages/chefs.html" target="_blank">Chefs</a>
                </p>
    
                <p class="footer-company-name">Copyright © 2023 <strong>Appetit</strong> All rights reserved</p>
            </div>
    
            <div class="footer-center">
                <div>
                    <a href="https://maps.app.goo.gl/ZTRZAVtwbNtC2FCt8" target="_blank"> <i class="fa-solid fa-location-dot" style="color: #ff9f0d; background-color: #ffffff;"></i> </a>
                    <p><span>Argentina</span> Buenos Aires</p>
                </div>
    
                <div>
                    <a href="https://www.whatsapp.com/?lang=es_LA" target="_blank"> <i class="fa-brands fa-whatsapp" style="color: #ff9f0d; background-color: #ffffff;"></i> </a>
                    <p><span>WhatsApp</span>+54 3835784512</p>
                </div>
    
                <div>
                    <a href="https://www.gmail.com" target="_blank"> <i class="fa-solid fa-envelope" style="color: #ff9f0d; background-color: #ffffff;"></i> </a>
                    <p><a href="https://mail.google.com/">appetit@gmail.com</a></p>
                </div>
            </div>
            <div class="footer-right">
    <p class="footer-company-about">
        <span>About the company</span>
        If you want to know more about us or our restaurant, do not hesitate to contact us.
    </p>
    <div class="footer-icons">
        <a href="https://www.facebook.com" target="_blank"><img src="../media/social-media/facebook.png" style="width: 38px; height: 38px;"></a>
        <a href="https://www.instagram.com" target="_blank"><img src="../media/social-media/instagram.webp" style="width: 38px; height: 38px;"></a>
        <a href="https://www.linkedin.com" target="_blank"><img src="../media/social-media/linkedin.png" style="width: 38px; height: 38px;"></a>
        <a href="https://www.twitter.com" target="_blank"><img src="../media/social-media/twitter.png" style="width: 38px; height: 38px;"></a>
        <a href="https://www.youtube.com" target="_blank"><img src="../media/social-media//utube.png" style="width: 38px; height: 38px;"></a>
    </div>
    </div>
            </div>
            </div>
        </footer>
    </body>
</html>
<script src="../assets/js/index.js"></script>
