{% extends "base.html" %}
{% load static %}

{% block main %}
<main>
    <section class="cuerpo_receta">
        <h1 class="titulo_animado">Chocolate raspberry dreams breakfast parfait</h1>
        <div class="foto_receta">
            <img class="imagen_de_receta" src="{% static './img/image/breakfast/chocolate_raspberry_01.jp' %}g"
                alt="chocolate raspberry presentation" />
        </div>
        <div class="receta_primera_parte">
            <div class="cuerpo">
                <ul>
                    <li>Yield: Serves 4</li>
                    <li>Soak time: 2 hours or overnight</li>
                    <li>Prep time: 20 minutes</li>
                    <li>Cook time: 10 minutes</li>
                </ul>
                <p>This summer-friendly breakfast can be made the night before and assembled so it's ready to go in the
                    morning! <br>(And trust me when I say that you'll be dreaming of this while you sleep!) The batch
                    makes enough for about 4 servings so you can enjoy it on several occasions. <br>The chocolate
                    overnight oats are mild-tasting and slightly bitter (depending on how much sweetener you use), so
                    the zingy raspberry jam and lightly sweet coconut whip are essential when serving to boost the
                    flavours. <br>To highlight a contrast of textures, add some fresh or frozen raspberries and toasted
                    nuts, too.</p>

                <p class="subtitulo">INGREDIENTS</p>

                <p>FOR THE RASPBERRY CHIA SEED JAM (MAKES 1 CUP):</p>
                <ul>
                    <li>1 (300 g/10 oz) bag frozen raspberries</li>
                    <li>2 tablespoons (20 g) chia seeds</li>
                    <li>2 tablespoons (30 mL) pure maple syrup, or to taste</li>
                    <li>1 teaspoon (5 mL) pure vanilla extract or vanilla bean powder (optional)</li>
                </ul>
                <p>FOR THE CHOCOLATE OVERNIGHT OATS (MAKES 3 CUPS):</p>
                <ul>
                    <li>1 cup (100 g) gluten-free rolled oats</li>
                    <li>1/3 cup (55 g) chia seeds</li>
                    <li>2 to 3 tablespoons (30 to 45 mL) pure maple syrup, to taste</li>
                    <li>2 tablespoons (10 g) unsweetened cocoa powder</li>
                    <li>2 1/2 cups (625 mL) unsweetened almond milk</li>
                </ul>
                </ul>
                <p>FOR THE TOPPING:</p>
                <ul>
                    <li>Homemade Coconut Whipped Cream or So Delicious Coconut Whip</li>
                    <li>Fresh or frozen raspberries</li>
                </ul>
            </div>
        </div>
        <div class="foto_receta">
            <img class="imagen_de_receta" src="{% static './img/image/breakfast/chocolate_raspberry_03.jp' %}g"
                alt="chocolate raspberry process" />
        </div>
        <div class="receta_segunda_parte">
            <div class="cuerpo">
                <p class="subtitulo">DIRECTIONS </p>
                <ol>
                    <li>For the Raspberry Chia Seed Jam: Add the frozen raspberries, chia seeds, and maple syrup into a
                        medium pot. Stir to combine. <br>Cook uncovered over medium heat, stirring frequently, for about
                        7 to 9 minutes, until the raspberries break down. <br>(It will still look a bit runny, but it
                        will thicken as it cools.) Remove from heat and stir in the vanilla, if using, and additional
                        maple syrup, if desired. <br>Allow the jam to cool on the counter, uncovered, for about a half
                        hour before covering and chilling in the fridge.</li>
                    <li>For the Chocolate Overnight Oats: In a large container with a lid, whisk together the oats, chia
                        seeds, maple syrup, and cocoa powder until combined. <br>Add the milk, and whisk until no clumps
                        of cocoa powder remain. Secure lid and let it sit on the counter for 2 to 3 minutes. <br>After
                        sitting briefly, shake the mixture (or stir) again to combine. This just helps prevent the chia
                        seeds from clumping up. <br>Chill in the fridge for a couple hours, or overnight.</li>
                    <li>Prepare the Coconut Whipped Cream, or if using, thaw the store-bought coconut whipped cream in
                        the fridge or on the counter. <br>Store in the fridge until ready to use.</li>
                    <li>When the chia jam and oats are ready, layer them into jars or bowls along with the coconut
                        whipped cream. Add your desired toppings, and enjoy! <br>The parfaits can be made in advance and
                        enjoyed for a few days.</li>
                </ol>
                <p class="subtitulo">TIP:</p>

                <p>Make it nut-free: Swap the almond milk for a nut-free non-dairy milk, and omit the nut topping.</p>

                <p class="subtitulo">NUTRITION INFORMATION</p>

                <p>Serving Size 1 of 4 parfaits | Calories 320 calories | Total Fat 11 grams <br>
                    Saturated Fat 1.5 grams | Sodium 180 milligrams | Total Carbohydrates 50 grams <br>
                    Fiber 16 grams | Sugar 16 grams | Protein 9 grams <br>
                    Nutritional info does not include toppings, such as Coconut Whipped Cream. <br>
                    * Nutrition data is approximate and is for informational purposes only.</p>
            </div>
        </div>
        <div id="go-to">
            <a href="{% url 'breakfast' %}">
                Go to breakfast
            </a>
        </div>
    </section>
    <div>
        <h2>More recipes</h2>
    </div>
    <section class="contenedor_de_enlaces_01">
        <div class="enlace_a_receta">
            <a href="{% url 'flourless_bite_sized_breakfast_muffins' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/breakfast/muffins_chico.jpg' %}"
                    alt="muffins square image" />
                <p>Flourless bite-sized breakfast muffins</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'chickpea_salad' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/lunch/Receta_1.1_chico.png' %}"
                    alt="Chickpea Salad square image" />
                <p>Chickpea Salad</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'banana_protein_cookies' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/dessert/banana_cookies_03_chico.jpg' %}"
                    alt="banana cookies square image" />
                <p>Banana protein cookies</p>
            </a>
        </div>
    </section>
</main>
{% endblock %}