<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chocolate raspberry dreams breakfast parfait</title>

        <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
        <link rel="icon" type="image/x-icon" href="../media/icons/appetit.ico">

        <meta property="og:title" content="Appetit"/>
        <meta property="og:type" content="article"/>
        <meta property="og:url" content="https://www.Appetit.com/"/>
        <meta property="og:image" content="../assets/media/image/a_logo_Appetit.png"/>
        <meta property="og:description" content="Appetit - 15 - Minute creamy avocado pasta"/>
        
        <script src="https://kit.fontawesome.com/a6d1c73a06.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="header">
            <div class="logo">
                <a href="../index.html">
                    <img src="../media/image/a_logo_Appetit.png" alt="Logo Appetit">
                </a>
            </div>
            <nav class="menu">
                <ul class="nav-links">
                    <li><a href="./recipes.html">Recipes</a></li>
                    <li><a href="./chefs.html">Chefs</a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./about_us.html">About us</a></li>
                    <li><a class="btn" href="./contact.html"><button>Contact</button></a></li>
                </ul>
            </nav>
            <a class="btn btn_menu" id="btn_menu">
                <i class="fa-solid fa-bars"></i>
            </a>
            <div class="lista_menu oculto" id="lista_menu">
                <ul>
                    <li><a href="./recipes.html">Recipes</a></li>
                    <li><a href="./chefs.html">Chefs</a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./about_us.html">About us</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                </ul>
            </div>
        </header>
        <main>
            <section class="cuerpo_receta">
                <h1 class="titulo_animado">Chocolate raspberry dreams breakfast parfait</h1>
                <div class="foto_receta">
                    <img class="imagen_de_receta" src="../media/image/breakfast/chocolate_raspberry_01.jpg" alt="chocolate raspberry presentation"/>
                </div>
                <div class="receta_primera_parte">
                    <div class="cuerpo">
                        <ul>
                            <li>Yield: Serves 4</li>
                            <li>Soak time: 2 hours or overnight</li>
                            <li>Prep time: 20 minutes</li>
                            <li>Cook time: 10 minutes</li>
                        </ul>
                        <p>This summer-friendly breakfast can be made the night before and assembled so it's ready to go in the morning! <br>(And trust me when I say that you'll be dreaming of this while you sleep!) The batch makes enough for about 4 servings so you can enjoy it on several occasions. <br>The chocolate overnight oats are mild-tasting and slightly bitter (depending on how much sweetener you use), so the zingy raspberry jam and lightly sweet coconut whip are essential when serving to boost the flavours. <br>To highlight a contrast of textures, add some fresh or frozen raspberries and toasted nuts, too.</p>

                        <p class="subtitulo">INGREDIENTS</p>

                        <p>FOR THE RASPBERRY CHIA SEED JAM (MAKES 1 CUP):</p>
                        <ul>
                            <li>1 (300 g/10 oz) bag frozen raspberries</li>
                            <li>2 tablespoons (20 g) chia seeds</li>
                            <li>2 tablespoons (30 mL) pure maple syrup, or to taste</li>
                            <li>1 teaspoon (5 mL) pure vanilla extract or vanilla bean powder (optional)</li>
                        </ul>
                        <p>FOR THE CHOCOLATE OVERNIGHT OATS (MAKES 3 CUPS):</p>
                        <ul>
                            <li>1 cup (100 g) gluten-free rolled oats</li>
                            <li>1/3 cup (55 g) chia seeds</li>
                            <li>2 to 3 tablespoons (30 to 45 mL) pure maple syrup, to taste</li>
                            <li>2 tablespoons (10 g) unsweetened cocoa powder</li>
                            <li>2 1/2 cups (625 mL) unsweetened almond milk</li>
                        </ul>
                        </ul>
                        <p>FOR THE TOPPING:</p>
                        <ul>
                            <li>Homemade Coconut Whipped Cream or So Delicious Coconut Whip</li>
                            <li>Fresh or frozen raspberries</li>
                        </ul>
                    </div>
                </div>

                <div class="receta_segunda_parte">
                    <div class="cuerpo">
                        <img class="imagen_de_receta" src="../media/image/breakfast/chocolate_raspberry_03.jpg" alt="chocolate raspberry ingredients"/>
                        <p class="subtitulo">DIRECTIONS </p>
                        <ol>
                            <li>For the Raspberry Chia Seed Jam: Add the frozen raspberries, chia seeds, and maple syrup into a medium pot. Stir to combine. <br>Cook uncovered over medium heat, stirring frequently, for about 7 to 9 minutes, until the raspberries break down. <br>(It will still look a bit runny, but it will thicken as it cools.) Remove from heat and stir in the vanilla, if using, and additional maple syrup, if desired. <br>Allow the jam to cool on the counter, uncovered, for about a half hour before covering and chilling in the fridge.</li>
                            <li>For the Chocolate Overnight Oats: In a large container with a lid, whisk together the oats, chia seeds, maple syrup, and cocoa powder until combined. <br>Add the milk, and whisk until no clumps of cocoa powder remain. Secure lid and let it sit on the counter for 2 to 3 minutes. <br>After sitting briefly, shake the mixture (or stir) again to combine. This just helps prevent the chia seeds from clumping up. <br>Chill in the fridge for a couple hours, or overnight.</li>
                            <li>Prepare the Coconut Whipped Cream, or if using, thaw the store-bought coconut whipped cream in the fridge or on the counter. <br>Store in the fridge until ready to use.</li>
                            <li>When the chia jam and oats are ready, layer them into jars or bowls along with the coconut whipped cream. Add your desired toppings, and enjoy! <br>The parfaits can be made in advance and enjoyed for a few days.</li>
                        </ol>
                        <p class="subtitulo">TIP:</p>
                        
                        <p>Make it nut-free: Swap the almond milk for a nut-free non-dairy milk, and omit the nut topping.</p>

                        <p class="subtitulo">NUTRITION INFORMATION</p>
                        
                        <p>Serving Size 1 of 4 parfaits | Calories 320 calories | Total Fat 11 grams <br>
                            Saturated Fat 1.5 grams | Sodium 180 milligrams | Total Carbohydrates 50 grams <br>
                            Fiber 16 grams | Sugar 16 grams | Protein 9 grams <br>
                            Nutritional info does not include toppings, such as Coconut Whipped Cream. <br>
                            * Nutrition data is approximate and is for informational purposes only.</p>
                    </div>
                </div>
                <div id="go-to">
                    <a href="breakfast.html"> Go to breakfast</a>
                </div>
            </section>
            <div>
                <h2>More recipes</h2>
            </div>
            <section class="contenedor_de_enlaces_01">                 
                <div class="enlace_a_receta">
                    <a href="./Flourless_bite_sized_breakfast_muffins.html"> <img class="imagen_del_enlace" src="../media/image/breakfast/muffins_chico.jpg" alt="muffins square image"/> <p>Flourless bite-sized breakfast muffins</p> </a>
                </div>
                <div class="enlace_a_receta">
                    <a href="./chickpea_salad.html"> <img class="imagen_del_enlace" src="../media/image/lunch/Receta_1.1_chico.png" alt="Chickpea Salad square image"/> <p>Chickpea Salad</p> </a>
                </div>
                <div class="enlace_a_receta">
                    <a href="./banana_protein_cookies.html"> <img class="imagen_del_enlace" src="../media/image/dessert/banana_cookies_03_chico.jpg" alt="banana cookies square image"/> <p>Banana protein cookies</p></a>
                </div>
            </section>    
        </main>
        <br>
        <footer class="footer-distributed">
    
            <div class="footer-left">
                <a href="../index.html">
                <img id="logo" src="../media/image/a_logo_Appetit.png" alt="Logo Appetit" height="76px" width="250"/></a>  <!-- Al hacer click en el logo se redirige al home -->
    
                <p class="footer-links">
                    <a href="../index.html" target="_blank">Home</a>
                    |
                    <a href="../pages/about_us.html" target="_blank">About us</a>
                    |
                    <a href="../pages/contact.html" target="_blank">Contact</a>
                    |
                    <a href="../pages/chefs.html" target="_blank">Chefs</a>
                </p>
    
                <p class="footer-company-name">Copyright © 2023 <strong>Appetit</strong> All rights reserved</p>
            </div>
    
            <div class="footer-center">
                <div>
                    <a href="https://maps.app.goo.gl/ZTRZAVtwbNtC2FCt8" target="_blank"> <i class="fa-solid fa-location-dot" style="color: #ff9f0d; background-color: #ffffff;"></i> </a>
                    <p><span>Argentina</span> Buenos Aires</p>
                </div>
    
                <div>
                    <a href="https://www.whatsapp.com/?lang=es_LA" target="_blank"> <i class="fa-brands fa-whatsapp" style="color: #ff9f0d; background-color: #ffffff;"></i> </a>
                    <p><span>WhatsApp</span>+54 3835784512</p>
                </div>
    
                <div>
                    <a href="https://www.gmail.com" target="_blank"> <i class="fa-solid fa-envelope" style="color: #ff9f0d; background-color: #ffffff;"></i> </a>
                    <p><a href="https://mail.google.com/">appetit@gmail.com</a></p>
                </div>
            </div>
            <div class="footer-right">
    <p class="footer-company-about">
        <span>About the company</span>
        If you want to know more about us or our restaurant, do not hesitate to contact us.
    </p>
    <div class="footer-icons">
        <a href="https://www.facebook.com" target="_blank"><img src="../media/social-media/facebook.png" style="width: 38px; height: 38px;"></a>
        <a href="https://www.instagram.com" target="_blank"><img src="../media/social-media/instagram.webp" style="width: 38px; height: 38px;"></a>
        <a href="https://www.linkedin.com" target="_blank"><img src="../media/social-media/linkedin.png" style="width: 38px; height: 38px;"></a>
        <a href="https://www.twitter.com" target="_blank"><img src="../media/social-media/twitter.png" style="width: 38px; height: 38px;"></a>
        <a href="https://www.youtube.com" target="_blank"><img src="../media/social-media//utube.png" style="width: 38px; height: 38px;"></a>
    </div>
    </div>
            </div>
            </div>
        </footer>
    </body>
</html>
<script src="../assets/js/index.js"></script>