{% extends "base.html" %}
{% load static %}

{% block main %}
<main>
  <h1 class="titulo_animado">Contact Us</h1>
  <br>
  <div class="texto_contact_us">
    <div class="cuerpo_contact_us">
      <p>Connect with us to give us any comments and tell us about your experience at Appetit</p>
    </div>
  </div>
  <br>
  <section class="formulario">
    <div class="form-div">
      <form class="form" autocomplete="off">
        <div class="form-container">
          <div class="form-group">
            <input name="name" type="text" id="name" class="form-input" placeholder=" " pattern="^[A-Za-z]{3,30}$"
              minlength="3" maxlength="30" required>
            <label for="name" class="form-label">Name:</label>
            <span class="form-line"></span>
          </div>
          <div class="form-group">
            <input name="surname" type="text" id="surname" class="form-input" placeholder=" " pattern="^[A-Za-z]{3,30}$"
              minlength="3" maxlength="30" required>
            <label for="surname" class="form-label">Surname:</label>
            <span class="form-line"></span>
          </div>
          <div class="form-group">
            <input name="email" type="email" id="email" class="form-input" placeholder=" "
              pattern="^((?!\.)[\w\-_.]*[^.])(@\w+)(\.\w+(\.\w+)?[^.\W])$" required>
            <label for="email" class="form-label">e-mail:</label>
            <span class="form-line"></span>
          </div>
          <div class="form-group">
            <textarea name="message" type="text" id="message" class="form-input" placeholder=" " minlength="10"
              required></textarea>
            <label for="message" class="form-label">Message:</label>
            <span class="form-line"></span>
          </div>
          <input class="form-submit" type="submit" value="Send" />
        </div>

      </form>
    </div>
  </section>
  <br>
  <div class="texto_contact_us">
    <div class="cuerpo_contact_us">
      <p>For reservations, call us at +54 (011) 4535-1000 or make a reservation at <a
          href=mailto:appetit_reservations@yahoo.com> our e-mail</a></p>
    </div>
  </div>
  <div class="hache_3">
    <div class="cuerpo_hache_3">
      <h3>We look forward to seeing you soon at Appetit, where good health is served in every delicious bite!</h3>
    </div>
  </div>
</main>
{% endblock %}