{% extends "base.html" %}
{% load static %}

{% block main %}
<main>
    <h1 class="titulo_animado">Dessert</h1>
    <section class="contenedor_de_enlaces_01">
        <div class="enlace_a_receta">
            <a href="{% url 'brownie_healty_and_fit' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/dessert/brownie_fit_02_chico.jpg' %}"
                    alt="brownie healty and fit square image" />
                <p>Brownie healty and fit</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'banana_protein_cookies' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/dessert/banana_cookies_03_chico.jpg' %}"
                    alt="banana cookies square image" />
                <p>Banana protein cookies</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'carrot_and_walnut_cake' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/dessert/carrot-cake-03-chico.jpg' %}"
                    alt="carrot cake square image" />
                <p>Carrot and walnut cake</p>
            </a>
        </div>
    </section>
    <br>
    <section class="contenedor_de_enlaces_01">
        <div class="enlace_a_receta">
            <a href="{% url 'strawberry_and_kiwi_bons' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/dessert/strawberry_kiwi_bons_chico.jpg' %}"
                    alt="strawberry and kiwi bons square image" />
                <p>Strawberry and kiwi bons with chocolate</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'apple_flan' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/dessert/apple_flan_chico.jpg' %}"
                    alt="apple flan square image" />
                <p>Apple flan</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'healthy_tres_leches_cake' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/dessert/tres_leches_chico.jpg' %}"
                    alt="healty tres leches square image" />
                <p>Healty tres leches cake</p>
            </a>
        </div>
    </section>
    <div id="go-to">
        <a href="{% url 'recipes' %}">
            Go to Recipes
        </a>
    </div>
    <div>
        <h2>More recipes</h2>
    </div>
    <section class="contenedor_de_enlaces_01">
        <div class="enlace_a_receta">
            <a href="{% url 'high_protein_vegan_breakfast_burrito' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/breakfast/burrito_chico.jpg' %}"
                    alt="burrito square image" />
                <p>High protein vegan breakfast burrito</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'chickpea_salad' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/lunch/Receta_1.1_chico.png' %}"
                    alt="Chickpea Salad square image" />
                <p>Chickpea Salad</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'chicken_chaufa' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/lunch/Receta_3.1_chico.png' %}"
                    alt="Chicken Chaufa square image" />
                <p>Chicken Chaufa</p>
            </a>
        </div>
    </section>
</main>
{% endblock %}