<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dessert</title>

        <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
        <link rel="icon" type="image/x-icon" href="../media/icons/appetit.ico">

        <meta property="og:title" content="Appetit"/>
        <meta property="og:type" content="article"/>
        <meta property="og:url" content="https://www.Appetit.com/"/>
        <meta property="og:image" content="../assets/media/image/a_logo_Appetit.png"/>
        <meta property="og:description" content="Appetit - Healthy recipes"/>
        
        <script src="https://kit.fontawesome.com/a6d1c73a06.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="header">
            <div class="logo">
                <a href="../index.html">
                    <img src="../media/image/a_logo_Appetit.png" alt="Logo Appetit">
                </a>
            </div>
            <nav class="menu">
                <ul class="nav-links">
                    <li><a href="./recipes.html">Recipes</a></li>
                    <li><a href="./chefs.html">Chefs</a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./about_us.html">About us</a></li>
                    <li><a class="btn" href="./contact.html"><button>Contact</button></a></li>
                </ul>
            </nav>
            <a class="btn btn_menu" id="btn_menu">
                <i class="fa-solid fa-bars"></i>
            </a>
            <div class="lista_menu oculto" id="lista_menu">
                <ul>
                    <li><a href="./recipes.html">Recipes</a></li>
                    <li><a href="./chefs.html">Chefs</a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./about_us.html">About us</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                </ul>
            </div>
        </header>
        
        <main>
            <h1 class="titulo_animado">Dessert</h1>
            <section class="contenedor_de_enlaces_01">
                <div class="enlace_a_receta">
                    <a href="./brownie_healty_and_fit.html"> <img class="imagen_del_enlace" src="../media/image/dessert/brownie_fit_02_chico.jpg" alt="brownie healty and fit square image"/> <p>Brownie healty and fit</p></a>
                </div>
                <div class="enlace_a_receta">
                    <a href="./banana_protein_cookies.html"> <img class="imagen_del_enlace" src="../media/image/dessert/banana_cookies_03_chico.jpg" alt="banana cookies square image"/> <p>Banana protein cookies</p></a>
                </div>
                <div class="enlace_a_receta">
                    <a href="./carrot_and_walnut_cake.html"> <img class="imagen_del_enlace" src="../media/image/dessert/carrot-cake-03-chico.jpg" alt="carrot cake square image"/> <p>Carrot and walnut cake</p></a>
                </div>
            </section>
            <br>
            <section class="contenedor_de_enlaces_01">
                <div class="enlace_a_receta">
                    <a href="./strawberry_and_kiwi_bons.html"> <img class="imagen_del_enlace" src="../media/image/dessert/strawberry_kiwi_bons_chico.jpg" alt="strawberry and kiwi bons square image"/> <p>Strawberry and kiwi bons with chocolate</p></a>
                </div>
                <div class="enlace_a_receta">
                    <a href="./Apple_flan.html"> <img class="imagen_del_enlace" src="../media/image/dessert/apple_flan_chico.jpg" alt="apple flan square image"/> <p>Apple flan</p></a>
                </div>
                <div class="enlace_a_receta">
                    <a href="./Healthy_tres_leches_cake.html"> <img class="imagen_del_enlace" src="../media/image/dessert/tres_leches_chico.jpg" alt="healty tres leches square image"/> <p>Healty tres leches cake</p></a>
                </div>
            </section>
            <div id="go-to">
                <a href="./recipes.html"> Go to Recipes</a>
            </div>
            <div>
                <h2>More recipes</h2>
            </div>
            <section class="contenedor_de_enlaces_01">                 
                <div class="enlace_a_receta">
                    <a href="./High_protein_vegan_breakfast_burrito.html"> <img class="imagen_del_enlace" src="../media/image/breakfast/burrito_chico.jpg" alt="burrito square image"/> <p>High protein vegan breakfast burrito</p> </a>
                </div>
                <div class="enlace_a_receta">
                    <a href="./chickpea_salad.html"> <img class="imagen_del_enlace" src="../media/image/lunch/Receta_1.1_chico.png" alt="Chickpea Salad square image"/> <p>Chickpea Salad</p> </a>
                </div>
                <div class="enlace_a_receta">
                    <a href="./chicken_chaufa.html"> <img class="imagen_del_enlace" src="../media/image/lunch/Receta_3.1_chico.png" alt="Chicken Chaufa square image"/> <p>Chicken Chaufa</p> </a>
                </div>
            </section>
        </main>
        <br>
        <footer class="footer-distributed">
    
            <div class="footer-left">
                <a href="../index.html">
                <img id="logo" src="../media/image/a_logo_Appetit.png" alt="Logo Appetit" height="76px" width="250"/></a>  <!-- Al hacer click en el logo se redirige al home -->
    
                <p class="footer-links">
                    <a href="../index.html" target="_blank">Home</a>
                    |
                    <a href="../pages/about_us.html" target="_blank">About us</a>
                    |
                    <a href="../pages/contact.html" target="_blank">Contact</a>
                    |
                    <a href="../pages/chefs.html" target="_blank">Chefs</a>
                </p>
    
                <p class="footer-company-name">Copyright © 2023 <strong>Appetit</strong> All rights reserved</p>
            </div>
    
            <div class="footer-center">
                <div>
                    <a href="https://maps.app.goo.gl/ZTRZAVtwbNtC2FCt8" target="_blank"> <i class="fa-solid fa-location-dot" style="color: #ff9f0d; background-color: #ffffff;"></i> </a>
                    <p><span>Argentina</span> Buenos Aires</p>
                </div>
    
                <div>
                    <a href="https://www.whatsapp.com/?lang=es_LA" target="_blank"> <i class="fa-brands fa-whatsapp" style="color: #ff9f0d; background-color: #ffffff;"></i> </a>
                    <p><span>WhatsApp</span>+54 3835784512</p>
                </div>
    
                <div>
                    <a href="https://www.gmail.com" target="_blank"> <i class="fa-solid fa-envelope" style="color: #ff9f0d; background-color: #ffffff;"></i> </a>
                    <p><a href="https://mail.google.com/">appetit@gmail.com</a></p>
                </div>
            </div>
            <div class="footer-right">
    <p class="footer-company-about">
        <span>About the company</span>
        If you want to know more about us or our restaurant, do not hesitate to contact us.
    </p>
    <div class="footer-icons">
        <a href="https://www.facebook.com" target="_blank"><img src="../media/social-media/facebook.png" style="width: 38px; height: 38px;"></a>
        <a href="https://www.instagram.com" target="_blank"><img src="../media/social-media/instagram.webp" style="width: 38px; height: 38px;"></a>
        <a href="https://www.linkedin.com" target="_blank"><img src="../media/social-media/linkedin.png" style="width: 38px; height: 38px;"></a>
        <a href="https://www.twitter.com" target="_blank"><img src="../media/social-media/twitter.png" style="width: 38px; height: 38px;"></a>
        <a href="https://www.youtube.com" target="_blank"><img src="../media/social-media//utube.png" style="width: 38px; height: 38px;"></a>
    </div>
    </div>
            </div>
            </div>
        </footer>
    </body>
</html>
<script src="../assets/js/index.js"></script>