{% extends "base.html" %}
{% load static %}

{% block main %}
<main>
    <section class="cuerpo_receta">
        <h1 class="titulo_animado">Flourless bite-sized breakfast muffins</h1>
        <div class="foto_receta">
            <img class="imagen_de_receta" src="{% static './img/image/breakfast/muffins_01.jpg' %}"
                alt="muffins presentation" />
        </div>
        <div class="receta_primera_parte">
            <div class="cuerpo">
                <ul>
                    <li>Yield: 24 mini muffins plus a few ramekins</li>
                    <li>Prep time: 15 minutes</li>
                    <li>Cook time: 20 minutes</li>
                </ul>
                <p>These grain-free, kid-friendly muffins are packed with fibre-rich chia seeds and contain only a
                    couple tablespoons of natural sweetener!<br> The almond butter base gives them a deliciously nutty
                    flavour, and overripe bananas lend an extra sweetness. <br>We love serving these mini muffins at
                    breakfast and snack time. <br>Best of all, this recipe is made entirely in a food processor so
                    there’s only one dish to clean when you’re done! <br>I’ve provided optional instructions for
                    preparing larger muffins as well as a nut-free version so be sure to read through the tips.</p>
                <p class="subtitulo">INGREDIENTS</p>
                <ul>
                    <li>1/2 cup (80 g) whole raw almonds</li>
                    <li>2 3/4 cup (400 g) chopped overripe bananas (about 3 to 4 large)</li>
                    <li>1/2 cup (120 g) natural smooth almond butter*</li>
                    <li>1/4 cup (33 g) arrowroot starch</li>
                    <li>2 tablespoons (20 g) chia seeds</li>
                    <li>2 tablespoons (30 mL) pure maple syrup</li>
                    <li>2 teaspoons baking powder</li>
                    <li>1/2 teaspoon cinnamon</li>
                    <li>1/2 teaspoon apple cider vinegar</li>
                    <li>1/4 teaspoon baking soda</li>
                    <li>1/4 teaspoon fine sea salt</li>
                </ul>
            </div>
        </div>
        <div class="foto_receta">
            <img class="imagen_de_receta" src="{% static './img/image/breakfast/muffins_01.jpg' %}"
                alt="muffins with ingredients" />
        </div>
        <div class="receta_segunda_parte">
            <div class="cuerpo">
                <p class="subtitulo">DIRECTIONS </p>
                <ol>
                    <li>Preheat the oven to 350°F (180°C) and set aside two silicone 12 mini muffin pans or one silicone
                        24 mini muffin pan. <br>There’s no need to grease silicone pans, but if you’re using metal
                        muffin pans, line them with mini paper liners. <br>This recipe makes enough for more than 24
                        mini muffins, so line an additional 2 to 3 small ramekins with standard-sized paper liners to
                        use up the remaining batter.</li>
                    <li>Add the almonds to the food processor and process to a fine crumb. Be sure not to overprocess
                        the almonds into butter. <br>If the ground almonds start getting sticky, they can negatively
                        impact the texture of the muffins once baked.</li>
                    <li>Add the chopped banana to the ground almonds along with the almond butter, arrowroot starch,
                        chia seeds, maple syrup, baking powder, cinnamon, apple cider vinegar, baking soda, and salt.
                        Process the mixture until smooth.</li>
                    <li>Use a small cookie dough scoop to portion the batter into the muffin pans, filling each until
                        about three-quarters full. <br>Use the remaining batter to fill the ramekins until about
                        two-thirds full.</li>
                    <li>Bake the mini muffins for about 18 to 22 minutes (I bake for 20 minutes), allowing an additional
                        6 to 9 minutes for the ramekins to bake through. <br>To test doneness, gently touch the top of
                        one muffin. When ready, they will spring back very slowly. <br> Finished muffins should also
                        have visibly golden edges.</li>
                    <li>Cool the muffins in the pans/ramekins for 30 minutes before attempting to remove. Carefully
                        slide a knife around each muffin and gently pop it out of the silicone pan. <br>(If using paper
                        liners, the muffins must be cooled completely before removing, or the liners will stick to the
                        muffins when peeled.) <br> I love spreading these muffins with a little coconut oil before
                        serving, but they’re also fantastic topped with chia seed jam. <br>And thanks to the nutty taste
                        and natural sweetness, you can enjoy them plain too. Leftovers can be stored in the fridge in an
                        airtight container for 3 to 4 days, or in the freezer for up to 1 month.</li>
                </ol>
                <p class="subtitulo">TIP:</p>

                <p>It's important to stir the almond butter well before measuring. Be sure not to use firm/hard/dry
                    almond butter as it'll result in dense muffins. <br>
                    To make a dozen regular-sized muffins, use a 12-cup silicone muffin pan. Fill each mold to
                    two-thirds full and bake for 24 to 26 minutes. <br> If using a metal pan, be sure to line each with
                    paper liners, filling and baking as directed, until they have golden edges and very slowly spring
                    back when touched on the top. <br>
                    For a NUT-FREE version: Swap the almonds for 1/2 cup raw sunflower seeds and the almond butter for
                    1/2 cup smooth sunflower seed butter <br>(I use SunButter Organic Sunflower Seed Butter...make sure
                    it only has sunflower seeds on the ingredient list), and increase the cinnamon to 1 teaspoon.
                    <br>The muffins have a distinct sunflower seed flavour, but I find it quite pleasant even though
                    they aren't as sweet as the almond version. <br>The muffins are also a bit darker, but still need
                    just as much bake time, if not a minute or two longer, and they are more dense. <br>
                    If you’d like to make these muffins more decadent, try stirring some chocolate chips into the
                    batter! For a crunch, add a couple handfuls of chopped walnuts or pecans.
                </p>

                <p class="subtitulo">NUTRITION INFORMATION</p>

                <p>Serving Size 1 mini muffin | Calories 60 calories | Total Fat 4 grams <br>
                    Saturated Fat 0 grams | Sodium 30 milligrams | Total Carbohydrates 7 grams <br>
                    Fiber 1 grams | Sugar 3 grams | Protein 2 grams <br>

                    Recipe makes 24 mini muffins plus a few ramekins or 30 mini muffins. <br>
                    * Nutrition data is approximate and is for informational purposes only.</p>
            </div>
        </div>
        <div id="go-to">
            <a href="{% url 'breakfast' %}">
                Go to breakfast
            </a>
        </div>
    </section>
    <div>
        <h2>More recipes</h2>
    </div>
    <section class="contenedor_de_enlaces_01">
        <div class="enlace_a_receta">
            <a href="{% url 'raw_chocolate_hazelnut_breakfast' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/breakfast/chocolate_hazelnut_chico.jpg' %}"
                    alt="chocolate hazelnut square image" />
                <p>Raw chocolate hazelnut breakfast parfait</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'chickpea_salad' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/lunch/Receta_1.1_chico.png' %}"
                    alt="Chickpea Salad square image" />
                <p>Chickpea Salad</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'banana_protein_cookies' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/dessert/banana_cookies_03_chico.jpg' %}"
                    alt="banana cookies square image" />
                <p>Banana protein cookies</p>
            </a>
        </div>
    </section>
</main>
{% endblock %}