{% extends "base.html" %}
{% load static %}

{% block main %}
<main>
    <section>
        <h1 class="titulo_animado">Healthy tres leches cake</h1>
        <div class="foto_receta">
            <img class="imagen_de_receta" src="{% static './img/image/dessert/tres_leches_01.jpg' %} "
                alt="Healthy tres leches cake presentation" />
        </div>
        <div class="receta_primera_parte">
            <div class="cuerpo">
                <ul>
                    <li>Yield: servings 9</li>
                    <li>Preparation: 30 minutes</li>
                    <li>Cooking: 40 minutes</li>
                </ul>

                <p>This cake is delicious, moist and with this version, you will save a lot of calories, It has less
                    than 150 calories per serving.</p>

                <p class="subtitulo">INGREDIENTS</p>

                <ul>
                    <li>150 gr oat flour</li>
                    <li>4 eggs</li>
                    <li>70 gr of sweetener</li>
                    <li>16 g baking powder</li>
                    <li>Vanilla essence</li>
                    <li>300 ml of skimmed milk</li>
                    <li>100 ml of vegetable drink (can be almond milk)</li>
                    <li>2 tablespoons of sweetener</li>
                    <li>300 ml of cream or milk cream</li>
                    <li>Sweetener to taste</li>
                    <li>Cinnamon powder</li>
                </ul>
            </div>
        </div>
        <div class="foto_receta">
            <img class="imagen_de_receta" src="{% static './img/image/dessert/tres_leches_02.jpg' %} "
                alt="Healthy tres leches cake process" />
        </div>
        <div class="receta_segunda_parte">
            <div class="cuerpo">
                <p class="subtitulo">DIRECTIONS </p>
                <ol>
                    <li>Preheat the oven to 170 degrees, you can also cook it in the air fryer.</li>
                    <li>In a bowl, with the help of some electric rods if you have them, assemble the eggs with the
                        sweetener, vanilla until the eggs double in size.</li>
                    <li>Add the flour and baking powder and stir until well integrated into the dough but be careful not
                        to lower the eggs.</li>
                    <li>Put in a mold and bake at 1700C. for about 40 minutes. When the time passes baked, with the help
                        of a fork we will scratch the surface of the cake.</li>
                    <li>Now we will make the cake bath. In a container we mix both milks with the sweetener and we will
                        add it to the cake, spreading it over the entire surface. We will let it cool in the
                        refrigerator.</li>
                    <li>Now we will whip the cream or milk cream with the sweetener and vanilla. I know it. We Will
                        spread it on the surface and sprinkle the cinnamon powder.</li>
                </ol>

                <p class="subtitulo">NUTRITION INFORMATION</p>

                <p>Calories 150 calories | Total Fat 25 grams <br>
                    Fiber 50 grams | Protein 30 grams <br>
                    * Nutrition data is approximate and is for informational purposes only.</p>
            </div>
        </div>
        <div id="go-to">
            <a href="{% url 'dessert' %}">
                Go to dessert
            </a>
        </div>
    </section>
    <div>
        <h2>More recipes</h2>
    </div>
    <section class="contenedor_de_enlaces_01">
        <div class="enlace_a_receta">
            <a href="{% url 'flourless_bite_sized_breakfast_muffins' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/breakfast/muffins_chico.jpg' %} "
                    alt="muffins square image" />
                <p>Flourless bite-sized breakfast muffins</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'chickpea_salad' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/lunch/Receta_1.1_chico.png' %} "
                    alt="Chickpea Salad square image" />
                <p>Chickpea Salad</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'banana_protein_cookies' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/dessert/banana_cookies_03_chico.jpg' %} "
                    alt="banana cookies square image" />
                <p>Banana protein cookies</p>
            </a>
        </div>
    </section>
</main>
{% endblock %}