{% extends "base.html" %}
{% load static %}

{% block main %}
<main>
    <section class="cuerpo_receta">
        <h1 class="titulo_animado">Lentil and Oat Burgers</h1>
        <div class="foto_receta">
            <img class="imagen_de_receta" src=" {% static './img/image/lunch/Receta 5.2.png' %}"
                alt="Lentil and Oat Burgers" />
        </div>
        <div class="receta_primera_parte">
            <div class="cuerpo">
                <ul>
                    <li>Yield: Serves 4</li>
                    <li>Prep time: 20 minutes</li>
                    <li>Cook time: 20 minutes</li>
                </ul>
                <p>Lentil and Oat Burgers are a nutritious and delicious vegetarian option for burger lovers. This
                    recipe serves 4 and is perfect for a hearty lunch or dinner. These burgers are packed with protein
                    and fiber.</p>
                <p class="subtitulo">INGREDIENTS</p>
                <ul>
                    <li>1 cup dried green lentils</li>
                    <li>2 1/2 cups water</li>
                    <li>1 cup rolled oats</li>
                    <li>1/2 cup finely chopped onion</li>
                    <li>1/2 cup grated carrot</li>
                    <li>1/4 cup chopped fresh cilantro</li>
                    <li>2 cloves garlic, minced</li>
                    <li>1 teaspoon cumin powder</li>
                    <li>1/2 teaspoon chili powder</li>
                    <li>Salt and pepper to taste</li>
                    <li>1/4 cup breadcrumbs</li>
                    <li>4 burger buns</li>
                    <li>Lettuce, tomato, and your favorite toppings</li>
                    <li>Olive oil for cooking</li>
                </ul>
            </div>
        </div>
        <div class="foto_receta">
            <img class="imagen_de_receta" src=" {% static './img/image/lunch/Receta 5.3.png' %}"
                alt="Lentil and Oat Burgers Ingredients" />
        </div>
        <div class="receta_segunda_parte">
            <div class="cuerpo">
                <p class="subtitulo">DIRECTIONS</p>
                <ol>
                    <li>Rinse the dried lentils under cold water and place them in a saucepan with 2 1/2 cups of water.
                        Bring to a boil, then reduce the heat, cover, and simmer for about 20 minutes, or until the
                        lentils are soft and the water is absorbed. Drain any excess water.</li>
                    <li>In a large mixing bowl, combine the cooked lentils, rolled oats, chopped onion, grated carrot,
                        cilantro, minced garlic, cumin powder, chili powder, salt, and pepper. Mix well.</li>
                    <li>Use a blender or food processor to pulse the mixture a few times until it starts to come
                        together but still has some texture. You want it to be sticky enough to form into patties.</li>
                    <li>Transfer the mixture to a clean bowl and stir in the breadcrumbs. This will help bind the
                        mixture together.</li>
                    <li>Form the mixture into 4 burger patties. Place them on a baking sheet and refrigerate for at
                        least 30 minutes to firm up.</li>
                    <li>Heat a skillet over medium-high heat and add a bit of olive oil. Cook the burger patties for
                        about 4-5 minutes on each side or until they are golden brown and cooked through.</li>
                    <li>Toast the burger buns in the skillet or oven until they are lightly browned.</li>
                    <li>Assemble your lentil and oat burgers with lettuce, tomato, and your favorite toppings. Serve hot
                        and enjoy!</li>
                </ol>
                <p class="subtitulo">TIP:</p>
                <p>Feel free to customize your burgers with your favorite condiments and cheese.</p>

                <p class="subtitulo">NUTRITION INFORMATION</p>
                <p>Serving Size 1 burger (without bun and toppings) | Calories 250 calories | Total Fat 3 grams <br>
                    Saturated Fat 0 grams | Sodium 400 milligrams | Total Carbohydrates 45 grams <br>
                    Fiber 10 grams | Sugar 3 grams | Protein 13 grams <br>
                    * Nutrition data is approximate and is for informational purposes only.</p>
            </div>
        </div>
        <div id="go-to">
            <a href=" {% url 'recipes' %}">
                Go to recipes
            </a>
        </div>
    </section>
    <div>
        <h2>More recipes</h2>
    </div>
    <section class="contenedor_de_enlaces_01">
        <div class="enlace_a_receta">
            <a href=" {% url 'flourless_bite_sized_breakfast_muffins' %}">
                <img class="imagen_del_enlace" src=" {% static './img/image/breakfast/muffins_chico.jpg' %}"
                    alt=" muffins square image" />
                <p>Flourless bite-sized breakfast muffins</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'chickpea_salad' %}">
                <img class="imagen_del_enlace" src=" {% static './img/image/lunch/Receta_1.1_chico.png' %}"
                    alt="Chickpea Salad square image" />
                <p>Chickpea Salad</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href=" {% url 'banana_protein_cookies' %}">
                <img class="imagen_del_enlace" src=" {% static './img/image/dessert/banana_cookies_03_chico.jpg' %}"
                    alt="banana cookies square image" />
                <p>Banana protein cookies</p>
            </a>
        </div>
    </section>
</main>
{% endblock %}