{% extends "base.html" %}
{% load static %}

{% block main %}
<main>
    <h1 class="titulo_animado">Lunch</h1>
    <section class="contenedor_de_enlaces_01">
        <div class="enlace_a_receta">
            <a href="{% url 'chickpea_salad' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/lunch/Receta_1.1_chico.png' %}"
                    alt="Chickpea Salad square image" />
                <p>Chickpea Salad</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'vegetable_and_egg_tart' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/lunch/Receta_2.1_chico.png' %}"
                    alt="Vegetable and Egg Tart square image" />
                <p>Vegetable and Egg Tart</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'chicken_chaufa' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/lunch/Receta_3.1_chico.png' %}"
                    alt="Chicken Chaufasquare image" />
                <p>Chicken Chaufa</p>
            </a>
        </div>
    </section>
    <br>

    <section class="contenedor_de_enlaces_01">
        <div class="enlace_a_receta">
            <a href="{% url 'broccoli_soup' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/lunch/Receta_4.1_chico.png' %}"
                    alt="Broccoli Soup square image" />
                <p>Broccoli Soup </p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'lentil_and_oat_burgers' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/lunch/Receta_5.1_chico.png' %}"
                    alt="Lentil and Oat Burgerssquare image" />
                <p>Lentil and Oat Burgers</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'mushroom_stuffed_eggplant' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/lunch/Receta_6.1_chico.png' %}"
                    alt="Mushroom-Stuffed Eggplant square image" />
                <p>Mushroom-Stuffed Eggplant </p>
            </a>
        </div>
    </section>
    <div id="go-to">
        <a href="{% url 'recipes' %}">
            Go to Recipes
        </a>
    </div>
    <div>
        <h2>More recipes</h2>
    </div>
    <section class="contenedor_de_enlaces_01">
        <div class="enlace_a_receta">
            <a href="{% url 'brownie_healty_and_fit' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/dessert/brownie_fit_02_chico.jpg' %}"
                    alt="brownie healty and fit square image" />
                <p>Brownie healty and fit</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'raw_chocolate_hazelnut_breakfast' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/breakfast/chocolate_hazelnut_chico.jpg' %}"
                    alt="chocolate hazelnut square image" />
                <p>Raw chocolate hazelnut breakfast parfait</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'sugar_free_apple_pie_chia_seed_jam' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/breakfast/applepiejam_chico.jpg' %}"
                    alt="apple pie jam square image" />
                <p>Sugar-free apple pie chia seed jam + parfait</p>
            </a>
        </div>
    </section>
</main>
{% endblock %}