{% extends "base.html" %}
{% load static %}

{% block main %}
<main>
    <section class="cuerpo_receta">
        <h1 class="titulo_animado">Mushroom-Stuffed Eggplant</h1>
        <div class="foto_receta">
            <img class="imagen_de_receta" src="{% static './img/image/lunch/Receta 6.2.png' %}"
                alt="Mushroom-Stuffed Eggplant" />
        </div>
        <div class="receta_primera_parte">
            <div class="cuerpo">
                <ul>
                    <li>Yield: Serves 4</li>
                    <li>Prep time: 20 minutes</li>
                    <li>Cook time: 40 minutes</li>
                </ul>
                <p>Mushroom-Stuffed Eggplant is a savory and satisfying vegetarian dish that's perfect for dinner. This
                    recipe serves 4 and combines the earthy flavors of mushrooms with tender roasted eggplant. It's sure
                    to impress your guests!</p>
                <p class="subtitulo">INGREDIENTS</p>
                <ul>
                    <li>2 large eggplants</li>
                    <li>2 tablespoons olive oil</li>
                    <li>1 onion, finely chopped</li>
                    <li>2 cloves garlic, minced</li>
                    <li>8 oz mushrooms, finely chopped</li>
                    <li>1/2 cup breadcrumbs</li>
                    <li>1/2 cup grated Parmesan cheese</li>
                    <li>1/4 cup fresh parsley, chopped</li>
                    <li>Salt and pepper to taste</li>
                    <li>1 cup tomato sauce</li>
                    <li>1 cup shredded mozzarella cheese</li>
                </ul>
            </div>
        </div>
        <div class="foto_receta">
            <img class="imagen_de_receta" src="{% static './img/image/lunch/Receta 6.3.png' %}"
                alt="Mushroom-Stuffed Eggplant Ingredients" />
        </div>
        <div class="receta_segunda_parte">
            <div class="cuerpo">
                <p class="subtitulo">DIRECTIONS</p>
                <ol>
                    <li>Cut the eggplants in half lengthwise and scoop out the flesh, leaving about a 1/4-inch thick
                        shell. Dice the scooped-out flesh and set aside.</li>
                    <li>Preheat your oven to 375°F (190°C).</li>
                    <li>Heat olive oil in a skillet over medium heat. Add the chopped onion and garlic, and sauté until
                        they become translucent, about 2-3 minutes.</li>
                    <li>Add the diced eggplant flesh and mushrooms to the skillet. Cook for 5-7 minutes until the
                        vegetables are tender and any liquid has evaporated.</li>
                    <li>Remove the skillet from heat and stir in the breadcrumbs, Parmesan cheese, and chopped parsley.
                        Season with salt and pepper to taste.</li>
                    <li>Fill the eggplant shells with the mushroom mixture and place them in a baking dish.</li>
                    <li>Spoon tomato sauce over each stuffed eggplant half and sprinkle with shredded mozzarella cheese.
                    </li>
                    <li>Cover the baking dish with foil and bake for 25-30 minutes. Then, remove the foil and bake for
                        an additional 10 minutes or until the cheese is bubbly and golden.</li>
                    <li>Remove from the oven, let cool slightly, and serve your delicious Mushroom-Stuffed Eggplant!
                    </li>
                </ol>
                <p class="subtitulo">TIP:</p>
                <p>Pair this dish with a side salad or garlic bread for a complete meal.</p>

                <p class="subtitulo">NUTRITION INFORMATION</p>
                <p>Serving Size 1/2 stuffed eggplant | Calories 320 calories | Total Fat 15 grams <br>
                    Saturated Fat 5 grams | Sodium 620 milligrams | Total Carbohydrates 38 grams <br>
                    Fiber 11 grams | Sugar 12 grams | Protein 14 grams <br>
                    * Nutrition data is approximate and is for informational purposes only.</p>
            </div>
        </div>
        <div id="go-to">
            <a href="{% url 'recipes' %}">
                Go to recipes
            </a>
        </div>
    </section>
    <div>
        <h2>More recipes</h2>
    </div>
    <section class="contenedor_de_enlaces_01">
        <div class="enlace_a_receta">
            <a href="{% url 'flourless_bite_sized_breakfast_muffins' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/breakfast/muffins_chico.jpg' %}"
                    alt="muffins square image" />
                <p>Flourless bite-sized breakfast muffins</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'chickpea_salad' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/lunch/Receta_1.1_chico.png' %}"
                    alt="Chickpea Salad square image" />
                <p>Chickpea Salad</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'banana_protein_cookies' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/dessert/banana_cookies_03_chico.jpg' %}"
                    alt="banana cookies square image" />
                <p>Banana protein cookies</p>
            </a>
        </div>
    </section>
</main>
{% endblock %}