{% extends "base.html" %}
{% load static %}

{% block main %}
<main>
    <section class="cuerpo_receta">
        <h1 class="titulo_animado">Raw chocolate hazelnut breakfast parfait</h1>
        <div class="foto_receta">
            <img class="imagen_de_receta" src="{% static './img/image/breakfast/chocolate_hazelnut_03.jpg' %}"
                alt="chocolate hazelnut presentation" />
        </div>
        <div class="receta_primera_parte">
            <div class="cuerpo">
                <ul>
                    <li>Yield:2 (1-cup) servings</li>
                    <li>Soak time: 2 hours or overnight</li>
                    <li>Prep time: 10 minutes</li>
                    <li>Cook time: 0 minutes</li>
                </ul>

                <p>This chocolate porridge is light and healthy without being overly sweet, so it's something you can
                    enjoy in the morning. <br>I added a banana for natural sweetness, a couple tablespoons of cacao
                    powder, and a hint of vanilla and maple syrup. <br>The porridge is great all on its own, but if you
                    want to get fancy, go to town with the toppings. <br>I added toasted hazelnuts, toasted flaked
                    coconut, banana and strawberries, strawberry chia seed jam (from my cookbook), and my homemade vegan
                    nutella.<br>however if you are without those ingredients you can try subbing in another light
                    tasting oil of your choice, other liquid sweetener, and ground ginger (maybe 1/4 tsp?).</p>

                <p class="subtitulo">INGREDIENTS</p>
                <p>FOR THE PORRIDGE:</p>
                <ul>
                    <li>1 cup raw buckwheat groats, soaked</li>
                    <li>1 medium/large banana, peeled and roughly chopped</li>
                    <li>scant 1/2 cup almond milk</li>
                    <li>2 tablespoons raw cacao powder or unsweetened cocoa powder</li>
                    <li>1/2 teaspoon pure vanilla extract</li>
                    <li>1/4 teaspoon ground cinnamon</li>
                    <li>1-2 tablespoons liquid sweetener, to taste (I used 1.5 tbsp maple syrup)</li>
                    <li>very small pinch of sea salt</li>
                </ul>
            </div>
        </div>
        <div class="foto_receta">
            <img class="imagen_de_receta" src="{% static './img/image/breakfast/chocolate_hazelnut_02.jpg' %}"
                alt="chocolate hazelnut preparation" />
        </div>
        <div class="receta_segunda_parte">
            <div class="cuerpo">
                <p class="subtitulo">DIRECTIONS </p>
                <ol>
                    <li>Place buckwheat groats into a bowl and cover with water. Soak overnight or for at least 2 hours.
                        Rinse and drain the buckwheat thoroughly to remove the gelatinous coating that forms while
                        soaking. <br>Set aside 1/4 cup of buckwheat groats so you can stir it into the porridge later on
                        (this gives it a slightly crunchy texture).</li>
                    <li>Place all the porridge ingredients (except for the reserved 1/4 cup groats) into a food
                        processor (or blender) and process (blend) the mixture until combined. <br>I don't process it
                        super smooth as I like a bit of texture to it, but it's your call.</li>
                    <li>Adjust sweetness to taste. Stir in the reserved 1/4 cup of groats. You can chill it for a couple
                        hours (or overnight) or serve immediately.</li>
                    <li>In a glass, layer the porridge along with your desired toppings. Or simply serve it up in a
                        bowl.</li>
                </ol>

                <p class="subtitulo">TIP:</p>
                <p>To make this recipe nut-free, swap a nut-free milk for the almond milk (such as coconut milk). Omit
                    the hazelnuts.<br>
                    To save time in the morning, make this the night before. Layer it up in a jar and screw on the lid
                    for a portable breakfast!</p>

                <p class="subtitulo">NUTRITION INFORMATION</p>

                <p>Serving Size 1 cup | Calories 460 calories | Total Fat 4.5 grams<br>
                    Saturated Fat 0 grams | Sodium 130 milligrams | Total Carbohydrates 91 grams<br>
                    Fiber 4 grams | Sugar 18 grams | Protein 13 grams <br>
                    * Nutrition data is approximate and is for informational purposes only.</p>
            </div>
        </div>
        <div id="go-to">
            <a href="{% url 'breakfast' %}">
                Go to breakfast</a>
        </div>
    </section>
    <div>
        <h2>More recipes</h2>
    </div>
    <section class="contenedor_de_enlaces_01">
        <div class="enlace_a_receta">
            <a href="{% url 'flourless_bite_sized_breakfast_muffins' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/breakfast/muffins_chico.jpg' %}"
                    alt="muffins square image" />
                <p>Flourless bite-sized breakfast muffins</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'chickpea_salad' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/lunch/Receta_1.1_chico.png' %}"
                    alt="Chickpea Salad square image" />
                <p>Chickpea Salad</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'banana_protein_cookies' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/dessert/banana_cookies_03_chico.jpg' %}"
                    alt="banana cookies square image" />
                <p>Banana protein cookies</p>
            </a>
        </div>
    </section>
</main>
{% endblock %}