{% extends "base.html" %}
{% load static %}

{% block main %}

<main id="main">
    <div>
        <h1 class="titulo_animado">Recipes</h1>
    </div>
    <!-- <div class="enlaces_a_secciones">
                <a href="./breakfast.html"> <h2>Breakfast</h2></a>
            </div>
            <section class="contenedor_de_enlaces_01">
                <div class="enlace_a_receta">
                    <a href="./chocolate_raspberry_dreams_breakfast_parfait.html"> <img class="imagen_del_enlace" src="../media/image/breakfast/chocolate_raspberry_chico.jpg" alt="chocolate raspberry square image"/> <p>Chocolate raspberry dreams breakfast parfait</p> </a>
                </div>
                
                <div class="enlace_a_receta">
                    <a href="./Flourless_bite_sized_breakfast_muffins.html"> <img class="imagen_del_enlace" src="../media/image/breakfast/muffins_chico.jpg" alt="muffins square image"/> <p>Flourless bite-sized breakfast muffins</p> </a>
                </div>
                
                <div class="enlace_a_receta">
                    <a href="./High_protein_vegan_breakfast_burrito.html"> <img class="imagen_del_enlace" src="../media/image/breakfast/burrito_chico.jpg" alt="burrito square image"/> <p>High protein vegan breakfast burrito</p> </a>
                </div>
            </section>
            <div class="enlaces_a_secciones">
                <a href="./lunch.html"> <h2>Lunch</h2></a>
            </div>
            <section class="contenedor_de_enlaces_01">
                <div class="enlace_a_receta">
                    <a href="./chickpea_salad.html"><img class="imagen_del_enlace" src="../media/image/lunch/Receta_1.1_chico.png" alt="Chickpea Salad"/><p>Chickpea Salad</p></a>
                </div>
            
                <div class="enlace_a_receta">
                    <a href="./vegetable_and_egg_tart.html"><img class="imagen_del_enlace" src="../media/image/lunch/Receta_2.1_chico.png" alt="Vegetable and Egg Tart"/><p>Vegetable and Egg Tart</p></a>
                </div>
            
                <div class="enlace_a_receta">
                    <a href="./chicken_chaufa.html"> <img class="imagen_del_enlace" src="../media/image/lunch/Receta_3.1_chico.png" alt="Chicken Chaufa"/><p>Chicken Chaufa</p></a>
                </div>
            </section>
            
            <div class="enlaces_a_secciones">
                <a href="./dessert.html"> <h2>Dessert</h2></a>
            </div>
            <section class="contenedor_de_enlaces_01">
                <div class="enlace_a_receta">
                    <a href="./brownie_healty_and_fit.html"> <img class="imagen_del_enlace" src="../media/image/dessert/brownie_fit_02_chico.jpg" alt="brownie healty and fit square image"/> <p>Brownie healty and fit</p></a>
                </div>
                <div class="enlace_a_receta">
                    <a href="./banana_protein_cookies.html"> <img class="imagen_del_enlace" src="../media/image/dessert/banana_cookies_03_chico.jpg" alt="banana cookies square image"/> <p>Banana protein cookies</p></a>
                </div>
                <div class="enlace_a_receta">
                    <a href="./carrot_and_walnut_cake.html"> <img class="imagen_del_enlace" src="../media/image/dessert/carrot-cake-03-chico.jpg" alt="carrot cake square image"/> <p>Carrot and walnut cake</p></a>
                </div>
            </section> -->
</main>
{% endblock %}