{% extends "base.html" %}
{% load static %}

{% block main %}
<main>
    <section>
        <h1 class="titulo_animado">Strawberry and kiwi bons with chocolate</h1>
        <div class="foto_receta">
            <img class="imagen_de_receta" src="{% static './img/image/dessert/strawberry_kiwi_bons_03.jpg' %}"
                alt="strawberry and kiwi bons presentation" />
        </div>
        <div class="receta_primera_parte">
            <div class="cuerpo">
                <ul>
                    <li>Preparation: 25 minutes</li>
                    <li>Cooking: 40 minutes</li>
                </ul>

                <p>Strawberries are pure vitamin C, and kiwi contains a lot of fiber. If we also add a little chocolate,
                    you get a powerful source of magnesium. <br>Well, so that you can enjoy all these benefits in a
                    single dessert, you have to try these</p>

                <p class="subtitulo">INGREDIENTS</p>

                <ul>
                    <li>200 g of strawberries</li>
                    <li>3 kiwis</li>
                    <li>100 g dark chocolate fondant</li>
                    <li>40 g white chocolate fondant (optional)</li>
                </ul>
            </div>
        </div>
        <div class="foto_receta">
            <img class="imagen_de_receta" src="{% static './img/image/dessert/strawberry_kiwi_bons_01.jpg' %}"
                alt="strawberry and kiwi bons process" />
        </div>
        <div class="receta_segunda_parte">
            <div class="cuerpo">
                <p class="subtitulo">DIRECTIONS </p>
                <ol>
                    <li>Step 1. Wash and dry the strawberries and remove the leaves. Peel the kiwis and cut them into
                        4wedges.</li>
                    <li>Step 2. Melt the dark chocolate in a bain-marie, stirring constantly.</li>
                    <li>Step 3. Prick the fruits with a toothpick and dip them in the chocolate until the half its
                        height. Place on baking paper and reserve in the refrigerator.</li>
                </ol>

                <p class="subtitulo">NUTRITION INFORMATION</p>

                <p>Calories 150 calories | Total Fat 25 grams <br>
                    Fiber 50 grams | Protein 25 grams <br>
                    * Nutrition data is approximate and is for informational purposes only.</p>
            </div>
        </div>
        <div id="go-to">
            <a href="{% url 'dessert' %}">
                Go to dessert
            </a>
        </div>
    </section>
    <div>
        <h2>More recipes</h2>
    </div>
    <section class="contenedor_de_enlaces_01">
        <div class="enlace_a_receta">
            <a href="{% url 'flourless_bite_sized_breakfast_muffins' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/breakfast/muffins_chico.jpg' %}"
                    alt="muffins square image" />
                <p>Flourless bite-sized breakfast muffins</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'chickpea_salad' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/lunch/Receta_1.1_chico.png' %}"
                    alt="Chickpea Salad square image" />
                <p>Chickpea Salad</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'banana_protein_cookies' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/dessert/banana_cookies_03_chico.jpg' %}"
                    alt="banana cookies square image" />
                <p>Banana protein cookies</p>
            </a>
        </div>
    </section>
</main>
{% endblock %}