{% extends "base.html" %}
{% load static %}

{% block main %}
<main>
    <section class="cuerpo_receta">
        <h1 class="titulo_animado">Sugar-free apple pie chia seed jam + parfait</h1>
        <div class="foto_receta">
            <img class="imagen_de_receta" src="{% static '' %}./img/image/breakfast/applepiejam-03.jpg"
                alt="apple pie jam presentation" />
        </div>
        <div class="receta_primera_parte">
            <div class="cuerpo">
                <ul>
                    <li>Yield: 2 parfaits</li>
                    <li>Soak time: 1-2 hours or overnight</li>
                    <li>Prep time: 15 minutes</li>
                    <li>Cook time: 20 minutes</li>
                </ul>

                <p>This nontraditional jam is thickened with omega-3 fatty acid rich chia seeds and is free from added
                    sugar. <br>Enjoy it on toast, layered in parfaits, or on top of oatmeal.</p>

                <p class="subtitulo">INGREDIENTS</p>
                <p>FOR THE JAM (MAKES 1-1.5 CUPS)</p>
                <ul>
                    <li>3 large apples, peeled and diced</li>
                    <li>3/4 cup 100% pure apple juice</li>
                    <li>2 tablespoons chia seeds</li>
                    <li>3/4-1 teaspoon cinnamon</li>
                    <li>1/2 teaspoon pure vanilla extract (optional)</li>
                    <li>pinch of fine grain sea salt (optional)</li>
                </ul>
                <p>FOR THE PARFAIT:</p>
                <ul>
                    <li>1/2 cup gluten-free rolled oats</li>
                    <li>1 + 1/4 cups homemade or store-bought almond milk</li>
                    <li>2 tablespoons chia seeds</li>
                    <li>1 teaspoon pure vanilla extract</li>
                    <li>1/2 teaspoon cinnamon</li>
                </ul>
            </div>
        </div>
        <div class="foto_receta">
            <img class="imagen_de_receta" src="{% static './img/image/breakfast/applepiejam-02.jpg' %}"
                alt="apple pie jam preparation" />
        </div>
        <div class="receta_segunda_parte">
            <div class="cuerpo">
                <p class="subtitulo">DIRECTIONS </p>
                <ol>
                    <li>For the jam: Add all jam ingredients into a medium pot and stir to combine. Bring mixture to a
                        low boil. <br>Reduce heat to medium-low, cover, and simmer for 15-20 minutes, stirring every 5
                        minutes or so. <br>When the apples are fork tender, remove from heat and mash 50% of the mixture
                        to thicken. Set aside to cool.</li>
                    <li>For the vegan overnight oats: Combine the oats, chia seeds, almond milk, vanilla, and cinnamon
                        in a small bowl. <br>Whisk to combine. Place in the fridge overnight, or for at least 1-2 hours
                        to thicken. <br>Once the oats are softened and the liquid is mostly absorbed, it's ready. You
                        can thin it out with more milk if needed or thicken it with more chia seeds.</li>
                    <li>To make each parfait: Layer the vegan overnight oats with the apple pie jam, a few spoonfuls of
                        each per layer. <br>Add toasted chopped walnuts on top of each layer if desired.</li>
                    <li>Store leftover jam in an air-tight container or jar in the fridge. Should last for at least 1-2
                        weeks.</li>
                </ol>

                <p class="subtitulo">NUTRITION INFORMATION</p>

                <p>Serving Size 1 of 2 parfaits | Calories 390 calories | Total Fat 12 grams<br>
                    Saturated Fat 1.5 grams | Sodium 200 milligrams | Total Carbohydrates 67 grams<br>
                    Fiber 19 grams | Sugar 30 grams | Protein 9 grams<br>
                    * Nutrition data is approximate and is for informational purposes only.</p>
            </div>
        </div>
        <div id="go-to">
            <a href="{% url 'breakfast' %}">
                Go to breakfast</a>
        </div>
    </section>
    <div>
        <h2>More recipes</h2>
    </div>
    <section class="contenedor_de_enlaces_01">
        <div class="enlace_a_receta">
            <a href="{% url 'flourless_bite_sized_breakfast_muffins' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/breakfast/muffins_chico.jpg' %}"
                    alt="muffins square image" />
                <p>Flourless bite-sized breakfast muffins</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'vegetable_and_egg_tart' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/lunch/Receta_2.1_chico.png' %}"
                    alt="Vegetable and Egg Tart square image" />
                <p>Vegetable and Egg Tart</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'banana_protein_cookies' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/dessert/banana_cookies_03_chico.jpg' %}"
                    alt="banana cookies square image" />
                <p>Banana protein cookies</p>
            </a>
        </div>
    </section>
</main>
{% endblock %}