{% extends "base.html" %}
{% load static %}

{% block main %}
<main>
    <section class="cuerpo_receta">
        <h1 class="titulo_animado">Vegetable and Egg Tart</h1>
        <div class="foto_receta">
            <img class="imagen_de_receta" src="{% static './img/image/lunch/Receta 2.2.png' %}"
                alt="Vegetable and Egg Tart" />
        </div>
        <div class="receta_primera_parte">
            <div class="cuerpo">
                <ul>
                    <li>Yield: Serves 6</li>
                    <li>Prep time: 30 minutes</li>
                    <li>Cook time: 40 minutes</li>
                </ul>
                <p>This Vegetable and Egg Tart is a delightful dish for breakfast or brunch. It's loaded with fresh
                    vegetables and eggs, making it a healthy and satisfying choice. Whether you're serving it for a
                    special occasion or a regular weekend breakfast, it's sure to impress!</p>
                <p class="subtitulo">INGREDIENTS</p>
                <ul>
                    <li>1 pre-made pie crust</li>
                    <li>1 cup bell peppers, diced</li>
                    <li>1 cup zucchini, diced</li>
                    <li>1 cup cherry tomatoes, halved</li>
                    <li>1/2 cup red onion, chopped</li>
                    <li>6 large eggs</li>
                    <li>1/2 cup milk</li>
                    <li>1/2 cup grated cheese (your choice)</li>
                    <li>Salt and pepper to taste</li>
                </ul>
            </div>
        </div>
        <div class="foto_receta">
            <img class="imagen_de_receta" src="{% static './img/image/lunch/Receta 2.3.png' %}"
                alt="Vegetable and Egg Tart Ingredients" />
        </div>
        <div class="receta_segunda_parte">
            <div class="cuerpo">
                <p class="subtitulo">DIRECTIONS</p>
                <ol>
                    <li>Preheat the oven to 375°F (190°C). Place the pre-made pie crust in a tart pan and set aside.
                    </li>
                    <li>In a skillet, sauté the bell peppers, zucchini, cherry tomatoes, and red onion until they are
                        slightly softened.</li>
                    <li>In a bowl, whisk together the eggs, milk, grated cheese, salt, and pepper.</li>
                    <li>Spread the sautéed vegetables evenly in the pie crust. Pour the egg mixture over the vegetables.
                    </li>
                    <li>Bake in the preheated oven for 35-40 minutes or until the eggs are set and the tart is golden
                        brown.</li>
                    <li>Allow the tart to cool slightly before slicing and serving. Enjoy!</li>
                </ol>
                <p class="subtitulo">TIP:</p>
                <p>Feel free to customize this tart with your favorite vegetables and cheese.</p>

                <p class="subtitulo">NUTRITION INFORMATION</p>
                <p>Serving Size 1 slice (1/6 of the tart) | Calories 250 calories | Total Fat 15 grams <br>
                    Saturated Fat 6 grams | Sodium 350 milligrams | Total Carbohydrates 18 grams <br>
                    Fiber 2 grams | Sugar 3 grams | Protein 10 grams <br>
                    * Nutrition data is approximate and is for informational purposes only.</p>
            </div>
        </div>
        <div id="go-to">
            <a href="{% url 'recipes' %}">
                Go to recipes
            </a>
        </div>
    </section>
    <div>
        <h2>More recipes</h2>
    </div>
    <section class="contenedor_de_enlaces_01">
        <div class="enlace_a_receta">
            <a href="{% url 'flourless_bite_sized_breakfast_muffins' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/breakfast/muffins_chico.jpg' %}"
                    alt="muffins square image" />
                <p>Flourless bite-sized breakfast muffins</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'broccoli_soup' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/lunch/Receta_4.1_chico.png' %}"
                    alt="Broccoli soup" />
                <p>Broccoli soup</p>
            </a>
        </div>
        <div class="enlace_a_receta">
            <a href="{% url 'banana_protein_cookies' %}">
                <img class="imagen_del_enlace" src="{% static './img/image/dessert/banana_cookies_03_chico.jpg' %}"
                    alt="banana cookies square image" />
                <p>Banana protein cookies</p>
            </a>
        </div>
    </section>
</main>
{% endblock %}