{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static './css/form.css' %}">
{% endblock %}

{% block main %}
<h1 class="titulo_animado">
  {% if object %}Update{% else %}Create{% endif %}
</h1>
<form method="post">
  {% csrf_token %}
  {% for field in form %}
  <div class="div-form">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {{ field }}
    {% if field.errors %}
    <p class="error">{{ field.errors }}</p>
    {% endif %}
  </div>
  {% endfor %}
  <button type="submit">Save</button>
</form>
{% endblock %}