{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static './css/form.css' %}">
{% endblock %}

{% block main %}
<main>
	<section class="cuerpo_receta">
		<h1 class="titulo_animado">Comments</h1>
		<div class="receta_primera_parte">
			<div class="cuerpo">
				<ul>
					{% for comment in comments %}
					<div class="list-form  div-form">
						<a href="{% url 'comment_update' pk=comment.id %}">
							<li><b>User Name:</b>{{ comment.username }}</li>
						</a>
						<b>subject:</b> {{ comment.subject }} - <b>date:</b> {{ comment.date }}
						<p><b>Comment:</b> {{ comment.comment }}</p>
						{% csrf_token %}
						<form method="post" action="{% url 'comment_delete' pk=comment.id %}" style="display: inline;">
							<button type="submit"
								onclick="return confirm('¿Estás seguro de que deseas eliminar {{ producto.nombre }}?')">Eliminar</button>

						</form>
					</div>
					{% endfor %}
				</ul>
			</div>
		</div>

		<!-- <style>
			#go-to-container {
				text-align: center;
				/* Centra el contenido horizontalmente */
			}

			#go-to {
				display: inline-block;
				padding: 10px 20px;
				border: 1px solid #4CAF50;
				/* Cambia el color del borde al verde */
				border-radius: 10px;
				background-color: #4CAF50;
				/* Cambia el color de fondo al verde */
				text-decoration: none;
			}

			#go-to a {
				color: white;
				/* Cambia el color del texto a blanco para que sea legible en el fondo verde */
			}
		</style> -->

		<div id="go-to-container">
			<div id="go-to">
				<a href="{% url 'comment_create' %}">
					<b>Create new comment</b>
				</a>
			</div>
		</div>
</main>
{% endblock %}